.answer-eror{
    width: 500px;
    display: block;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    color: red;
    border: 1px solid red;
    background: rgb(236, 236, 7);
}